*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
.bg-alles {
    background-color: #a4b607 !important;
}
/*Bootstrap*/
.main { 
    height:60px !important;
    margin-top: 60px;
    transition: all .5s ease !important;
    color: #434345 !important;
}
.navbar.second-navbar.top-nav-collapse {
    margin-top: 45px;
  }
.top-nav1, footer, .space-galerry {
    background-color: #434345 !important;
    color: white !important;
}
.navbar li a {
    color: black;
}
.navbar li a:hover {
    color: white !important;
}

.header1, .special, .service, .work-img {
    width: 75vw !important;
    margin:  0 auto !important;
    color: #434345;
}
.space {
    margin: 2.5rem;
    display:flex;
    justify-content: center;
    align-item: center;
    
  }
.work-img {
    
    background-color: #a4b607 !important;
}
.special {
    height:70vh;
    justify-content: center;
    align-items: center;
}
/*Header*/
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    margin-top: 120px;
  }
  h1 {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container, .service {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  .cta {
    background-color: #434345 !important;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  .img-spec {
      max-height: 60vh !important;
      border-radius: 40% !important;
      border-bottom-right-radius: 80% !important;
  }


  h1, .service {
      align-items: center;
  }
  .service-item i {
      font-size: 6rem;
  }
  .service {
      min-height: 30vh;
  }
  .service-item {
      max-width: 20% !important;
      min-height:25vh !important;
      border: darkslategray 2px solid;
      padding: 20px;
      margin: 5px;
      margin: auto;
      box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  h2 {
      font-size: 1.5rem !important;
      font-weight: bold;
  }
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }

  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }